.popular__text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: url(/images/Star.svg) no-repeat;
  padding-left: 18px;
  color: #ffffff;
}
